<article>
  <h1>I HE<span class="art">ART</span> PRINTS</h1>
  <p>The go-to site for the most comprehensive catalogue of fine art prints</p>
</article>
<section class="art-strip">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-2" id="raphael">
      <%= image_tag("raphael_sistine-m.jpg", class: "img-responsive app-image") %>
    </div>
    <div class="col-12 col-md-6 col-lg-2" id="vangogh">
      <%= image_tag("vangogh_sunflowers.jpg", class: "img-responsive app-image") %>
    </div>
    <div class="col-12 col-md-6 col-lg-2" id="millet">
      <%= image_tag("millet_sower.jpg", class: "img-responsive app-image") %>
    </div>
    <div class="col-12 col-md-6 col-lg-2" id="picasso">
      <%= image_tag("picasso_femme.jpg", class: "img-responsive app-image") %>
    </div>
    <div class="col-12 col-md-6 col-lg-2" id="rothko">
      <%= image_tag("rothko.jpg", class: "img-responsive app-image") %>
    </div>
    <div class="col-12 col-md-6 col-lg-2" id="mona-lisa">
      <%= image_tag("mona-lisa.jpg", class: "img-responsive app-image") %>
    </div>
  </div>
</section>