
<h2 id="featured-paintings">Featured Paintings</h2>
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @products.each do |product| %>
        <li data-target="#carouselExampleCaptions" data-slide-to=" <%= @product %> " class="<%= " active" if product == @products.first %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @products.each do |product| %>
        <div class="carousel-item <%= " active" if product == @products.first %> ">
          <img><%= image_tag(product.img_url) %></img>
          <div class="carousel-caption d-none d-md-block">
            <strong><%= product.name %></strong>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
