<div class="row orders-box">
  <% @orders.each do |order| %>
    <div class="col-sm">
      <h1 class="order-header">
        Order # <%= order.id %>:
        <%= link_to order.product.name, order %>
      </h1>
      <p class="orders-p"><%= order.product.description %></p>
      <img><%= image_tag(order.product.img_url, class: "img-responsive orders-image") %></img><br>
      <strong class="orders-price">$ <%= order.product.price/100 %></strong>
    </div>
  <% end %>
</div>
