<div class="product-reviews">
  <p class="comment-intro">What members have said about this product:</p>
  <hr class="comments-border">
  <% @comments.each do |comment| %>
    <div class="row review-comments">

      <div class="col-12 col-md-4 first-column"
        <p><%= comment.user.first_name %><small><em><%= " #{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
        <div class="rated" data-score="<%= comment.rating %>"></div>
      </div><!-- end .col -->

      <div class="col-12 col-md-8 second-column"
        <p><%= comment.body %></p>
      </div><!-- end .cols -->

    </div><!-- end .row .review-comments-->
    <hr class="separator">
  <% end %>
  <div class="apple_pagination">
    <%= will_paginate @comments %>
  </div>
</div><!-- end .product-review -->
