
  <div class="col-12 col-md-6 col-lg-2 center-data-div">
    <h2><%= link_to product.name, product, class: "product-header2" %></h2>
    <div class="img-txt-bg">
      <img><%= link_to image_tag(product.img_url, class: "img-responsive print-image"), product %></img>
      <!-- <img><%= image_tag(product.img_url, class: "img-responsive print-image") %></img> -->
      <p><%= product.description %></p>
    </div><!-- end .img-txt-bg -->
    <p class="price">$ <%= product.price %></p>
    <br>
    <% if signed_in? && current_user.admin? %>
      <span>
        <%= link_to 'Show', product, :class => "crud-links" %>
        <%= link_to 'Edit', edit_product_path(product), :class => "crud-links" %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "crud-links" %>
      </span>
    <% end %>
  </div>
