<p id="notice"><%= notice %></p>

<header class="products-header">
  <h1>I HE<span class="art">ART</span> PRINTS</h1>
  <p>The go-to site for a comprehensive catalogue of fine art prints</p>
</header>


<div class="container-fluid">
  <div class="row records">
    <%  @products.each do |product| %>
      <div class="col-12 col-md-6 col-lg-2">
        <a href="#"><h2><%= product.name %></h2></a>
        <div class="img-txt-bg">
          <img><%= image_tag(product.img_url, class: "img-responsive", :class => "print-image")  %></img>
          <p><%= product.description %></p>
        </div>
        <p class="price">$ <%= product.price %></p>
        <br>
        <span>
          <%= link_to 'Show', product, :class => "crud-links" %>
          <%= link_to 'Edit', edit_product_path(product), :class => "crud-links" %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "crud-links" %>
        </span>
      </div>
    <% end %>
  </div>

  <br>

  <%= link_to 'New Product', new_product_path, :class => "new-product-link" %>
  
  <div class="bottom-space"></div>
</div>
