
<section class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <p id="notice"><%= notice %></p>
      <p class="show-text">
        <strong>Name:</strong>
        <% logger.debug { "-- Product: #{@product.name} --" } %>
        <%= @product.name %>
      </p>

      <p class="show-text">
        <strong>Description:</strong>
      <% logger.debug { "-- Description: #{@product.description} --" } %>
        <%= @product.description %>
      </p>

      <p class="show-text">
        <strong>Price:</strong>
        <% logger.debug { "-- Price: #{@product.price/100} --" } %>
        <%= @product.price/100 %>
      </p>

      <% logger.debug "Image: #{@product.img_url}" %>
      <img><%= image_tag(@product.img_url, class: "img-responsive products-show-image img-zoom", data_zoom_image: @product.img_url) %></img>

      <p class="average-rating-block"><strong>Average rating:</strong>  <span class="rated" data-score="<%= @product.average_rating %>"></span></p>

      <div class="pay-btn">
        <%= form_with(url: '/payments/create') do |form| %>
          <%= form.hidden_field :product_id, value: @product.id %>
          <%= form.hidden_field :product_price, value: @product.price %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
      </div>

      <%= render 'comments' %>

      <%= render 'new_comment' %>

      <%= link_to 'Edit', edit_product_path(@product), class: "show-back-links" %>
      <%= link_to 'Back', products_path, class: "show-back-links" %>
    </div><!-- end .cols-xx -->
  </div><!-- end .row -->
  <div class="footer-space"></div>
</section><!-- end .container-fluid -->
