
<section class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <p id="notice"><%= notice %></p>
      <p class="show-text">
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p class="show-text">
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p class="show-text">
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <img><%= image_tag(@product.img_url, class: "img-responsive products-show-image" ) %></img>

      <p class="average-rating-block"><strong>Average rating:</strong>  <span class="rated" data-score="<%= @product.average_rating %>"></span></p>

      <div>
        <%= render 'comments' %>
      </div>

      <%= render 'new_comment' %>

      <%= link_to 'Edit', edit_product_path(@product), class: "show-back-links" %>
      <%= link_to 'Back', products_path, class: "show-back-links" %>
    </div><!-- end .cols-xx -->
  </div><!-- end .row -->
  <div class="footer-space"></div>
</section><!-- end .container-fluid -->
