<!DOCTYPE html>
<html>
  <head>
    <title>I Heart Prints</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body data-spy="scroll" data-target="#navbar-example">
    <header class="container-fluid" id="home">
      <%= render 'shared/navbar' %>
    </header>

    <main class="main-box page-wrap">
      <section class="notice-alert-align">
        <% if notice %>
          <div class="notice-alert-bg">
            <p class="notice"><%= notice %></p>
          </div>
        <% end %>
        <% if alert %>
          <div class="notice-alert-bg"
            <p class="alert"><%= alert %></p>
          </div>
        <% end %>
      </section>

      <%= yield %>

    </main>

    <footer class="container-fluid site-footer fixed-bottom">
      <section class="footer-box">
        <p>&copy; 2019  &nbsp;I HE<span class="art">ART</span> PRINTS</p>
      </section>
    </footer>
  </body>
</html>
